<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Study Bud</title>
    <!-- <link rel="stylesheet" href="style.css" /> -->
  </head>
  <body>
    <!-- what this is doing is telling our website where to put all of the child tags and wrap our website -->
    {% include 'navbar.html' %} {% block content %} {% endblock %}
  </body>
</html>
